@font-face {
    font-family: "fontAmazin";
    src: url(./fonts/OfficinaSansStd-Bold.woff);
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.navBar {
    background-color: #131921;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navBrand {
    font-family: fontAmazin;
    color: #ffffff;
    font-size: 50px;
    text-decoration: none;
}

.buttons a { 
    margin-left: 30px;
    border-color: #febd69;
    background-color: #ffffffe1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}

.buttons a:hover {

    outline: 3px solid #f0951e;
    background-color: #ffffff;
    
}

.buttons a:focus{
    border-color: #f0951e;
    border-width: 3px;
    background-color: #ffffff;
    text-decoration: none;
    color: #f07c1e  ;
}

.buttons a:active{
    border-color: #f0951e;
    border-width: 3px;
    background-color: #ffffff;
    text-decoration: none;
    color: #f07c1e;
}
.buttons a:visited {
    border-color: #f07c1e;
    border-width: 3px;
    background-color: #ffffff;
    text-decoration: none;
    color: #f07c1e;
}

.cartWidget {
    color: #febd69;
}

